<div class= "top">
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>

<%= link_to "Add a Chart", new_chart_path %>
<h3>Your Charts</h3>

  <% @charts.each do |chart| %>
    <div class = "box" >
      <span><%= chart.chart_name %></span>
      <span><%= link_to "View Chart", chart_tunes_path(chart) %></span>
      <span><%= link_to "Edit Chart", edit_chart_path(chart) %></span>
    </div>
  <% end %>
  </div>
